extends _layout/layout

block variables
	- var title = 'Remeeco'
	- var bodyclass = ''

block css

block body 
	include _layout/header
	main
		include _layout/breadcrumb
		include _pages/ct-dichvu
	include _layout/footer