section.banner-wrap
	.home-banner.banner
		.item
			.banner-item
				figure
					.banner-img
						img(src="img/banner/1.jpg", alt="")
					figcaption
						.banner-caption
							.big Giải pháp toàn diện MEP
							.des Chúng tôi đưa ra giải pháp toàn diện dành cho thiết kế và thi công hệ thống Cơ điện (MEP)
			.solution-list
				.row.no-gutters
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/1.jpg", alt="")
								figcaption
									h3.solution-name Ứng dụng BIM
									.solution-des Ứng dụng BIM trong quá trình thiết kế và thi công Cơ Điện mang lại nhiều hiệu quả vượt trội.
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/2.jpg", alt="")
								figcaption
									h3.solution-name Gói giải pháp toàn diện
									.solution-des Kết hợp thi công Xây dựng và Cơ Điện trong cùng một gói thầu vừa thiết kế vừa thi công đem lại nhiều lợi ích cho Chủ đầu tư.
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/3.jpg", alt="")
								figcaption
									h3.solution-name Tối ưu hóa thi công
									.solution-des Sự phối hợp chặt chẽ giữa Cơ điện và các công tác Kết cấu – Kiến trúc ngay từ đầu giúp tối ưu hóa trong quá trình thi công.
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/4.jpg", alt="")
								figcaption
									h3.solution-name Quy mô công nghiệp
									.solution-des Các dự án nhà xưởng công nghiệp quy mô lớn lên đến hàng chục hecta với những hệ thống Cơ Điện công nghiệp phức tạp.

		.item
			.banner-item
				figure
					.banner-img
						img(src="img/banner/2.jpg", alt="")
					figcaption
						.banner-caption
							.big Nguồn lực vững chắc
							.des Đảm bảo chất lượng, tiến độ cho tất cả dự án để mang đến lợi ích tốt nhất cho khách hàng
			.solution-list
				.row.no-gutters
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/a1.jpg", alt="")
									.number 100+
								figcaption
									h3.solution-name Nhà cung cấp nhân lực đảm bảo tiến độ và chất lượng thi công
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/a2.jpg", alt="")
									.number 400+
								figcaption
									h3.solution-name Nhà cung cấp vật tư, thiết bị trong và ngoài nước
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/a3.jpg", alt="")
									.number 1.000+
								figcaption
									h3.solution-name Kỹ sư và thạc sỹ từ 4 công ty lớn đảm bảo đáp ứng cho các dự án
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/a4.jpg", alt="")
									.number 6.627<sup>tỷ</sup>
								figcaption
									h3.solution-name Doanh thu năm 2018 trên tổng số 104 dự án thi công cơ điện
		.item
			.banner-item
				figure
					.banner-img
						img(src="img/banner/3.jpg", alt="")
					figcaption
						.banner-caption
							.big Diamond Island
							.des Thiết kế và thi công Trạm điện, máy phát điện, hệ thống cung cấp điện, hệ thống điện nhẹ
			.solution-list
				.row.no-gutters
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/b1.jpg", alt="")
								figcaption
									h3.solution-name Vinhomes Times City Park Hill
									.solution-des Thiết kế và thi công trạm điện, máy phát điện, hệ thống cung cấp điện
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/b2.jpg", alt="")
								figcaption
									h3.solution-name Everrich 8
									.solution-des Thiết kế và thi công trạm điện, máy phát điện, hệ thống cung cấp điện. Hệ thống điều hòa không khí và thông gió
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/b3.jpg", alt="")
								figcaption
									h3.solution-name Tối ưu hóa thi công
									.solution-des Thiết kế và thi công trạm điện, máy phát điện, hệ thống cung cấp điện. Hệ thống phòng cháy chữa cháy – chống sét
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/b4.jpg", alt="")
								figcaption
									h3.solution-name Masteri Thảo Điền
									.solution-des Thiết kế và thi công trạm điện, máy phát điện, hệ thống cung cấp điện. Hệ thống cấp thoát nước

		.item
			.banner-item
				figure
					.banner-img
						img(src="img/banner/4.jpg", alt="")
					figcaption
						.banner-caption
							.big "BẢN LĨNH TIÊN PHONG"
							.des Bùng nổ cảm xúc với Dạ tiệc Tất niên Coteccons 2017
			.solution-list
				.row.no-gutters
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/c1.jpg", alt="")
								figcaption
									h3.solution-name Coteccons tham dự Hội nghị Tổng kết ngành Xây dựng
									time 16/01/2018
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/c2.jpg", alt="")
								figcaption
									h3.solution-name Coteccons tổ chức thành công Hội nghị Cán bộ nhân viên năm 2017
									time 06/01/2018
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/c3.jpg", alt="")
								figcaption
									h3.solution-name Unicons đồng hành cùng người dân miền trung trong trận bão Damrey lịch sử
									time 18/01/2018
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/c4.jpg", alt="")
								figcaption
									h3.solution-name Khối cơ điện RiMEP và Innovus JSC tổ chức thành công hội thảo chuyên đề Hệ thống điện nhẹ
									time 18/01/2018

		.item
			.banner-item
				figure
					.banner-img
						img(src="img/banner/5.jpg", alt="")
					figcaption
						.banner-caption
							.big Đối tác chiến lược
							.des Cam kết sẽ đồng hành dài hạn với chiến lược và sự phát triển của công ty
			.solution-list
				.row.no-gutters
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/d1.jpg", alt="")
								figcaption
									h3.solution-name Kusto
									.solution-des Chúng tôi cung cấp nguồn vốn và đem lại lợi ích cho các doanh nghiệp tăng trưởng từ chuyên môn và cách tiếp cận linh hoạt.
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/d2.jpg", alt="")
								figcaption
									h3.solution-name Qũy đầu tư Vina Capital
									.solution-des tập đoàn Vina Capital hiện đang quản lý 4 quỹ trị giá trên 2,2 tỷ USD và cung cấp dịch vụ tư vấn tài chính doanh nghiệp và BĐS.
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/d3.jpg", alt="")
								figcaption
									h3.solution-name Quỹ đầu tư SSI AM
									.solution-des Cung cấp các dịch vụ chứng khoán, tư vấn đầu tư, bảo lãnh phát hành, tư vấn tài chính doanh nghiệp, và dịch vụ thị trường vốn.
					article.col-6.col-lg-3
						a.solution-col(href="#!")
							figure
								.solution-img
									img(src="img/solution/d4.jpg", alt="")
								figcaption
									h3.solution-name VinaProjects
									.solution-des VinaProjects đã bắt đầu thực hiện các dự án trọng điểm về phát triển đô thị trị giá trên 500 triệu USD tại các thành phố lớn.
