header
	.container
		.header-main
			.btn-showmenu <i class="material-icons">menu</i>
			.overlay
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			nav.menu
				.menu-logo
					.sitelogo
						a(href="#!")
							img(src="img/logo.png", alt="")
				.menu-left
					ul.menu-link
						li
							a(href="gioithieu.html") Giới thiệu
						li
							a(href="dichvu.html") Dịch vụ
						li
							a(href="duan.html") Dự án
						li
							a(href="giaiphap.html") Giải pháp
				.col-right
					.menu-right
						ul.menu-link
							li
								a(href="tintuc.html") Tin tức
							li
								a(href="lienhe.html") Liên hệ
					.social
						a(href="#!" class="fa fa-facebook")
						a(href="#!" class="fa fa-youtube-play")
					.search
						.btn-search <i class="fa fa-search" aria-hidden="true"></i>
						.search-wrap
							.searchbox
								input(type="text", name="", placeholder="Tìm kiếm...")
								button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
					.language
						.dropdown.show
							a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Tiếng Việt
							.dropdown-menu(aria-labelledby='dropdownMenuLink')
								a.dropdown-item(href='#') English
								a.dropdown-item.active(href='#') Tiếng Việt