section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Dịch vụ
section.service-page
	.container
		.service-category
			.row.no-gutters
				.col-12.col-md-6.col-lg-3
					.service-col
						.service-menu
							.service-name Hệ điện
							ul.service-link
								li
									a(href="#!") Hệ trung thế
									.service-sub
										ul
											li
												a(href="#!") Phòng tủ trung thế
											li
												a(href="#!") Phòng MBA
											li
												a(href="#!") Phòng MBA ngoài trời
								li
									a(href="#!") Hệ điện hạ thế
								li
									a(href="#!") Hệ máy phát điện
								li
									a(href="#!") Hệ thống thông tin liên lạc
								li
									a(href="#!") Hệ thống chiếu sáng
								li
									a(href="#!") Hệ thống camera
								li
									a(href="#!") Hệ thống chống sét
								li
									a(href="#!") Hệ thống gọi cửa, giám sát cửa ra vào
								li
									a(href="#!") Bãi giữ xe, barrie
						figure
							.service-img
								img(src="img/service/1.jpg", alt="")
							figcaption
								.service-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn.
				.col-12.col-md-6.col-lg-3
					.service-col
						.service-menu
							.service-name Hệ nước
						figure
							.service-img
								img(src="img/service/2.jpg", alt="")
							figcaption
								.service-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn.
				.col-12.col-md-6.col-lg-3
					.service-col
						.service-menu
							.service-name Hệ ACMV
						figure
							.service-img
								img(src="img/service/3.jpg", alt="")
							figcaption
								.service-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu.
				.col-12.col-md-6.col-lg-3
					.service-col
						.service-menu
							.service-name Hệ PCCC
						figure
							.service-img
								img(src="img/service/4.jpg", alt="")
							figcaption
								.service-des Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn.