section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Khách hàng - Đối tác
nav.top-nav
	ul
		li.active
			a(href="#!") Khách hàng
		li
			a(href="#!") Đối tác
section.partner-page
	.container
		.partner-list
			.row
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/2.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/3.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/4.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/5.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/6.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/7.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/8.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/9.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/10.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/11.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/12.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/13.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/14.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-custom
					a.partner-logo(href="#!")
						img(src="img/partner/15.jpg", alt="")
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4