section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Giới thiệu
			li
				a(href="#!") 
					span Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
nav.top-nav
	ul
		li
			a(href="#!") Tổng quan
		li.active
			a(href="#!") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
		li
			a(href="#!") Cam kết
		li
			a(href="#!") Thành tựu nổi bật
		li
			a(href="#!") Vì sao chọn Remeeco
section.about-page
	.container
		.about-section4
			.row.no-gutters
				.col-12.col-lg-6
					.about-vision
						figure
							.icon
								img(src="img/about/icon1.png", alt="")
							figcaption
								h1.home-title Tầm nhìn
								.content
									p Trở thành thương hiệu dẫn đầu trong lĩnh vực tư vấn, thiết kế và thi công cơ điện chuyên nghiệp, có uy tín, chất lượng đẳng cấp khu vực và quốc tế cho các dự án hàng đầu tại Việt Nam và trong khu vực Đông Nam Á. 
					.about-vision
						figure
							.icon
								img(src="img/about/icon2.png", alt="")
							figcaption
								h2.home-title Sứ mệnh
								.content
									ul
										li Trở thành đối tác đáng tin cậy của các chủ đầu tư trong lĩnh vực tư vấn, thiết kế và thi công cơ điện. 
											br
											br
										li Mang đến cho khách hàng các sản phẩm đạt giá trị cao nhất về an toàn, chất lượng và tiến độ, đồng thời góp phần vào sự phát triển bền vững của xã hội. 
											br
											br
										li Xây dựng môi trường làm việc lý tưởng để nhân viên có cơ hội thể hiện bản thân, thăng tiến trong sự nghiệp.
				.col-12.col-lg-6
					.about-vision.s2
						figure
							.icon
								img(src="img/about/icon3.png", alt="")
							figcaption
								h2.home-title Giá trị cốt lõi
								.content
									ul
										li 
											span.text-blue.text-medium Minh bạch: 
											|Minh bạch trong mọi hoạt động, quản trị minh bạch, hợp tác minh bạch và lợi ích minh bạch.
											br
											br
										li 
											span.text-blue.text-medium Sáng tạo: 
											|Không ngừng sáng tạo, cải tiến toàn diện hệ thống quản lý chất lượng đáp ứng yêu cầu ngày càng cao của khách hàng.
											br
											br
										li 
											span.text-blue.text-medium Cam kết chất lượng: 
											|Cam kết chất lượng tốt nhất và luôn chủ động đưa ra giải pháp để làm tốt hơn những gì đã cam kết.
											br
											br
										li 
											span.text-blue.text-medium Tiên phong: 
											|Luôn dẫn đầu trong việc ứng dụng những cải tiến nhằm mang lại hiệu quả tốt nhất cho khách hàng.
											br
											br
										li 
											span.text-blue.text-medium Kỷ luật: 
											|Mỗi con người Remeeco tự giác tuân thủ kỷ luật, cam kết trách nhiệm của mỗi cá nhân với công ty, với đối tác và với chính bản thân.
											br
											br
										li 
											span.text-blue.text-medium An toàn: 
											|Vì sức khỏe, an toàn và môi trường xanh
