section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Giới thiệu
			li
				a(href="#!") 
					span Tổng quan
nav.top-nav
	ul
		li.active
			a(href="#!") Tổng quan
		li
			a(href="#!") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
		li
			a(href="#!") Cam kết
		li
			a(href="#!") Thành tựu nổi bật
		li
			a(href="#!") Vì sao chọn Remeeco
section.about-page
	.container
		.about-section7
			.row
				.col-12.col-lg-6.text
					.about-content
						h1.small-title Uy tín tạo nên thương hiệu
						.content
							p Lấy uy tín, chất lượng làm thước đo giá trị thương hiệu, 
								span.text-blue Coteccons – Remeeco 
								|cam kết mang đến cho khách hàng sản phẩm là những công trình đạt yêu cầu cao về chất lượng và kỹ mỹ thuật với giá thầu cạnh tranh.
							p 
								span.text-blue Coteccons Group 
								|là tập đoàn xây dựng hàng đầu việt Nam hiện nay. Ngoài việc khẳng định vị thế trên thị trường trong mảng xây dựng, Coteccons Group còn đang dẫn đầu thị trường trong mảng Thiết kế và Thi công cơ điện – một trong những dịch vụ truyền thống và thế mạnh chủ lực của tập đoàn.
				.col-12.col-lg-6.img
					.about-img
						img(src="img/about/img5.jpg", alt="")
		.about-section7.s2
			.row
				.col-12.col-lg-6.text
					.about-content
						.content
							p Được thành lập năm 2004 cùng với Coteccons với tiền thân là Khối M&E thuộc Phòng Kỹ thuật với hơn 10 nhân sự. Đến nay, qua hơn 13 năm hoạt động và phát triển, Khối M&E của tập đoàn đã không ngừng phát triển và lớn mạnh như một nhà thầu cơ điện với năng lực thiết kế – thi công vượt trội đã/đang thi công hơn 100 dự án Cơ Điện thương mại, công nghiệp, dân dụng và cơ sở hạ tầng trên toàn lãnh thổ việt Nam. 
							p Với sự phát triển vượt trội, lớn mạnh của Khối M&E, năm 2017 chủ tịch Coteccons đã định hướng cho ra đời thương hiệu Remeeco đại diện cho mảng thi công và thiết kế M&E với mong muốn khẳng định vị thế trên thị trường M&E hiện nay.
				.col-12.col-lg-6.img
					.about-img
						img(src="img/about/img6.jpg", alt="")