section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Dịch vụ
section.solution-page
	.container
		h1.small-title.text-center giải pháp
		.solution-content.content
			p Cùng với sự phát triển của xây dựng Coteccons thì Cơ điện REMECO của Tập đoàn xây dựng.Coteccons Group đã và đang nghiên cứu và phát triển các vật liệu để ứng dụng, đồng thời cải tiến các biện pháp thi công (BPTC) mới nhằm đáp ứng tiến độ. Điều này đã mang lại cho nhà thầu phụ của REMEECO một luồng sinh khí mới.
			p Trước đây thường thì hệ thống Cơ Điện được Chủ Đầu Tư (CĐT) giao thầu sau khi kết cấu và hoàn thiện đã triển khai xây tô nên hệ thống cơ điện triển khai gặp rất nhiều khó khăn, không những về mặt tiến độ mà về chất lượng dự án. Biết được những khó khăn này Ban Giám Đốc đã chỉ đạo Bộ phận R&D của REMEECO kết hợp các Phòng/Ban khác nghiên cứu và tìm kiếm các giải pháp thi công mới nhằm đáp ứng các yêu cầu của CĐT/Khách hàng và tiến độ cho BCH công trường. Hiện tại REMEECO đã phát triển và áp dụng thành công trên 16 chuyên đề cải tiến tiến như :
			.solution-list
				.row.no-gutters
					.col-12.col-md-4
						.solution-col
							figure
								.solution-img
									img(src="img/solution/1.jpg", alt="")
								figcaption Lắp đặt sleeve chuyên dụng ( slab joint ) xuyên sàn cùng với giai đoạn kết cấu
					.col-12.col-md-4
						.solution-col
							figure
								.solution-img
									img(src="img/solution/2.jpg", alt="")
								figcaption Sleeve lồng cho hộp gen kỹ thuật cho căn hộ
					.col-12.col-md-4
						.solution-col
							figure
								.solution-img
									img(src="img/solution/3.jpg", alt="")
								figcaption Sleeve chuyên dụng cho ống,.. và phối kết hợp với xây dựng triển khai 90 % hệ thống cơ điện trước khi xây tường,… 
			p Điều này không những đáp ứng được tiến độ mà chất lượng dự án được các chủ đầu tư đánh giá cao như : Vingroup; Tân Hoàng Minh; Thảo Điền;…
			p Không những CĐT đánh giá cao về tiến độ và Chất lượng mà khách hàng cũng rất hài lòng về các sản phẩm khu sử dụng, Chúng tôi (REMEECO) đã và đang thay đổi những củ, lạc hậu thay vào đó là những giải pháp mới để thỏa mãn các nhu cầu của Khách hàng cũng như CĐT khó tính bằng những sản phẩm do chính Tập đoàn Coteccons Group thiết kế và thi công (D&B).
			p Với tiêu chí đề ra : Tiến độ - chất lượng – hiệu quả kinh tế, hy vọng những cải tiến sẽ mang đến một sinh khí mới cho thị trường Cơ Điện nói chung và sự khác biệt của REMEECO với các nhà thầu Cơ Điện khác nói riêng