section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Giới thiệu
			li
				a(href="#!") 
					span Vì sao chọn Remeeco
nav.top-nav
	ul
		li
			a(href="#!") Tổng quan
		li
			a(href="#!") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
		li
			a(href="#!") Cam kết
		li
			a(href="#!") Thành tựu nổi bật
		li.active
			a(href="#!") Vì sao chọn Remeeco
section.about-page
	.container
		.about-section3
			h1.small-title.text-center REMEECO VƯƠN TẦM ĐẲNG CẤP QUỐC TẾ
			.page-des.text-center Trong những năm gần đây, Tập đoàn COTECCONS được đánh giá là một thương hiệu dẫn đầu trong ngành xây dựng. Với tiềm lực hùng mạnh và giá trị cốt lõi bền vững, thương hiệu COTECCONS đang vươn mình trở thành một tập đoàn tư nhân mang đẳng cấp quốc tế. Dân gian thường có câu: “Một cây làm chẳng nên non/Ba cây chụm lại nên hòn núi cao”. Sự phát triển lớn mạnh của thương hiệu COTECCONS cũng không nằm ngoài quy luật của câu tục ngữ này. Trong đó, REMEECO là một trong những “cây” góp sức làm nên “hòn núi cao” COTECCONS. 
			.feature-list
				.row
					.col-12.col-sm-6.col-lg-3
						.feature-col
							figure
								.feature-img
									img(src="img/about/f1.png", alt="")
								figcaption
									.feature-des Nguồn nhân sự thi công đảm bảo đáp ứng cho các dự án lớn của REMEECO được huy động từ 4 công ty với hơn 1.000 kỹ sư và thạc sĩ.
					.col-12.col-sm-6.col-lg-3
						.feature-col
							figure
								.feature-img
									img(src="img/about/f2.png", alt="")
								figcaption
									.feature-des REMEECO có Trung tâm Thiết kế để đưa ra giải pháp thiết kế và kỹ thuật đáp ứng được yêu cầu kỹ thuật, thời gian ngắn và giá cả hợp lý cho Chủ đầu tư. 
					.col-12.col-sm-6.col-lg-3
						.feature-col
							figure
								.feature-img
									img(src="img/about/f3.png", alt="")
								figcaption
									.feature-des REMEECO vốn là một thương hiệu của Tập đoàn Coteccons nên luôn có thế mạnh trong công tác phối hợp nhịp nhàng giữa các “lĩnh vực” trong quá trình thi công tạo ra sản phẩm cuối cùng vượt qua sự mong đợi của Chủ đầu tư và Khách hàng.
					.col-12.col-sm-6.col-lg-3
						.feature-col
							figure
								.feature-img
									img(src="img/about/f4.png", alt="")
								figcaption
									.feature-des Việc áp dụng các cải tiến Cơ điện trong thi công đem đến chất lượng tốt và tiết kiệm chi phí cho Chủ đầu tư và khách hàng.