section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Giới thiệu
			li
				a(href="#!") 
					span Thành tựu nổi bật
nav.top-nav
	ul
		li
			a(href="#!") Tổng quan
		li
			a(href="#!") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
		li
			a(href="#!") Cam kết
		li.active
			a(href="#!") Thành tựu nổi bật
		li
			a(href="#!") Vì sao chọn Remeeco
section.about-page
	.container
		.about-section5
			.page-des.text-center Trong năm 2017, với hơn 105 dự án thi công Cơ Điện quy mô đang triển khai sẽ mang lại cho Remeeco khoảng 6.627 tỷ động doanh thu, góp phần minh chứng cho năng lực chuyên nghiệp vượt trội và cam kết của chúng tôi trong hoạt động thiết kế - thi công Cơ Điện
			.about-number
				.row
					.col-12.col-md-6
						.number-wrap
							.number
								.counter(data-thousand-delimiter="." data-value="6627")
								span Tỷ đồng
							label Doanh thu năm 2018
					.col-12.col-md-6
						.number-wrap
							.number
								.counter(data-value="105")
								span Dự án
							label Tổng số dự án
		.about-section6
			.row
				.col-12.col-md-6
					.about-img
						img(src="img/about/img4.jpg", alt="")
				.col-12.col-md-6
					.about-content
						.content
							h2.title1.text-uppercase.text-medium.text-blue Doanh thu qua các năm
							p Tâm huyết với khách hàng, năng lực thiết kế / thi công vượt trội, đảm bảo chất lượng và tiến độ thi công là những yếu tố làm nên doanh thu vượt trội của Remeeco, đồng thời thể hiện sự lớn mạnh không ngừng của Remeeco qua các năm