section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Giới thiệu
			li
				a(href="#!") 
					span Cam kết
nav.top-nav
	ul
		li
			a(href="#!") Tổng quan
		li
			a(href="#!") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
		li.active
			a(href="#!") Cam kết
		li
			a(href="#!") Thành tựu nổi bật
		li
			a(href="#!") Vì sao chọn Remeeco
section.about-page
	.container
		.about-section1
			.row
				.col-12.col-lg-4
					.about-img
						img(src="img/about/img1.jpg", alt="")
				.col-12.col-lg-8
					.about-content.content
						h1.title1.text-blue Mỗi công trình là một cam kết về Chất lượng 
						p.des Remeeco sử dụng hệ thống quản lý hiệu quả và toàn diện trong tổ chức, đạt tiêu chuẩn quốc tế và được chứng nhận theo hệ thống iSo 9001:2015; iSo 14001:2015 & ohSaS 18001:2007.
						p Mỗi dự án có một loại hình, đặc điểm, tính năng khác nhau vì vậy cần có cách quản lý điều hành và thi công khác nhau. hệ thống quản lý chất lượng của Remeeco liên tục được xem xét cải tiến cho phù hợp với yêu cầu của từng dự án cụ thể và được áp dụng từ giai đoạn thiết kế ý tưởng, /chào thầu, lập và soát xét hợp đồng, triển khai thi công, cho tới khi hoàn thành công tác bảo hành nhằm tiết kiệm chi phí và đảm bảo kết quả tốt nhất cho khách hàng. Bên cạnh đó, chúng tôi còn tư vấn cho chủ đầu tư về thời gian, chất lượng, ngân sách của dự án cũng như đánh giá và lựa chọn nhà thầu phụ, nhà cung cấp tốt nhất cho dự án. các chương trình huấn luyện nội bộ của chúng tôi đảm bảo cBNv có kiến thức và hiểu biết đầy đủ về hệ thống quản lý Remeeco, tạo điều kiện thuận lợi trong việc áp dụng và duy trì các quy định của hệ thống cho tất cả các dự án. Sự hài lòng của khách hàng là tiêu chí đánh giá khi dự án hoàn thành. Remeeco cũng thực hiện việc đánh giá nội bộ về mức độ thành công của dự án dựa trên các tiêu chí tiến độ, chất lượng, an toàn lao động và hiệu quả kinh tế của lực lượng thi công. Đồng thời mong muốn, đnáh giá cao ý kiến khách quan về năng lực thiết kế/ thi công của Remeeco từ phía khách hàng và đối tác.
		.about-section2
			.row
				.col-12.col-lg-8
					.about-content.content
						h2.title1.text-blue An toàn là ưu tiên số 1
						p.des Đảm bảo an toàn tuyệt đối, đảm bảo tính mạng người lao động chính là một trong những yếu tố làm nên thương hiệu và vị thế nhà thầu xây dựng số 1 tại việt Nam cuả tập đoàn coteccons. Là một thương hiệu của coteccons, Remeeco cũng không ngoại lệ.
						p Luôn áp dụng hệ thống quản lý an toàn lao động được coteccons xây dựng và phát triển để công tác an toàn được đảm bảo tuyệt đối. Ban an toàn lao động của tập đoàn luôn có những cải tiến nhằm tạo điều kiện môi trường làm việc tốt nhất cho người lao động, đồng thời nâng cao năng xuất, hiệu quả lao động. Lực lượng an toàn lao động luôn được Remeeco đầu tư tăng cường về cả số lượng và chất lượng. Đào tạo nội bộ được chú trọng qua các khóa đào tạo quốc tế do các chuyên gia nước ngoài huấn luyện nhằm nâng cao kỹ năng hướng dẫn, kiểm soát, nhận diện và đánh giá các rủi ro để đưa ra các giải pháp an toàn nhất cho người lao động.
				.col-12.col-lg-4
					.about-img
						img(src="img/about/img2.jpg", alt="")