section.home-partner
	.partner-slick.partner-list
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/2.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/3.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/4.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/2.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/3.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/4.png", alt="")
