section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Tin tức
section.news-page
	.container
		.hot-news
			.row
				.col-12.col-lg-6
					a.news-col.big(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 19/03/2018
								h1.news-name Tổng thầu Thiết kế và Thi công dự án Trung tâm Văn hoá Điện ảnh TP.HCM
				.col-12.col-lg-6
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 19/03/2018
								h2.news-name Coteccons khởi công dự án OneHub Saigon
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/3.jpg", alt="")
							figcaption
								time 19/03/2018
								h2.news-name Coteccons đạt tiến độ thi công ấn tượng tại dự án D’.Capitale
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/4.jpg", alt="")
							figcaption
								time 19/03/2018
								h2.news-name Coteccons khởi công dự án DoubleTree by Hilton Ha LongBay Hotel & Condotel
		.news-list
			.row
				.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/5.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name Hoàn thành bàn giao dự án Saigon South Serviced Apartments
								.news-des Ngày 24/11/2017, Coteccons đã chính thức hoàn thành công tác thi công dự án Saigon South Serviced Apartments (SSSA) tại Khu đô thị Nam Sài Gòn, Quận 7, TP.HCM.
				.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/6.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name Khởi công dự án Viet Capital Center trị giá gần 3.000 tỷ đồng
								.news-des Ngày 04/11/2017, Coteccons cùng Chủ đầu tư  Công ty Cổ phần Kinh doanh Địa ốc Phương Nam 3A-2 tiến hành khởi công dự án Viet Capital Center tại số 3A-3B Tôn Đức Thắng, P. Bến Nghé, Q.1, Tp. Hồ Chí Minh.
				.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/7.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name Coteccons hoàn thành công tác kết cấu phần thân dự án Hồ Tràm Strip giai đoạn 2
								.news-des Ngày 04/11/2017, Coteccons cùng Chủ đầu tư  Công ty Cổ phần Kinh doanh Địa ốc Phương Nam 3A-2 tiến hành khởi công dự án Viet Capital Center tại số 3A-3B Tôn Đức Thắng, P. Bến Nghé, Q.1, Tp. Hồ Chí Minh.
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4