section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.breadcrumb-content
		h3.pagename
		ol.breadcrumb
			li
				a(href="#!") 
					span Trang chủ
			li
				a(href="#!") 
					span Tin tức
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.news-page
				.news-info
					time 19/03/2018
					h1.news-name Tổng thầu Thiết kế và Thi công dự án Trung tâm Văn hoá Điện ảnh TP.HCM
				.news-content.content
					.news-des Sáng nay 25/01/2018, Lễ động thổ Dự án Trung tâm Văn Hóa Điện Ảnh TPHCM đã diễn ra thành công tốt đẹp tại số 02 Phan Đình Giót, Quận Tân Bình, TP.Hồ Chí Minh. Buổi lễ được tổ chức bởi Chủ đầu tư Viện Phim Việt Nam, Công ty Cổ phần Đầu tư và Phát triển Nguyễn Kim cùng Tổng thầu thiết kế và thi công (Design & Build) Công ty Coteccons.
					figure
						img(src="img/news/img1.jpg", alt="Phối cảnh dự án Trung tâm Văn hoá Điện ảnh TP.Hồ Chí Minh")
						figcaption Phối cảnh dự án Trung tâm Văn hoá Điện ảnh TP.Hồ Chí Minh
					p Trung tâm Văn hoá Điện ảnh TPHCM trong tương lai sẽ là nơi diễn ra hầu hết các hoạt động văn hoá và điện ảnh trong nước. Dự án có vị trí đắc địa, trong tương lai sẽ là bộ mặt của cửa ngõ ra vào sân bay của thành phố; là một tổ hợp thương mại dịch vụ, cụm rạp chiếu phim, trung tâm văn hóa và khối văn phòng gồm 2 tầng hầm và 16 tầng thân, tổng diện tích sàn xây dựng hơn 26.000m2. 
					p Tại buổi lễ, ông Võ Thanh Liêm – Phó Tổng Giám đốc Công ty Coteccons, đại diện Tổng thầu Thiết kế và thi công phát biểu: 
						strong “Coteccons rất vinh dự khi được CĐT tin tưởng chọn là Tổng thầu thiết kế thi công cho Dự án và rất tự hào khi được tham gia, đóng góp một công trình có ý nghĩa với Thành phố tươi đẹp của chúng ta. Với kinh nghiệm là Tổng thầu Thiết kế và thi công nhiều dự án lớn từ Bắc chí Nam, với năng lực về thiết bị thi công và đội ngũ Ban chỉ huy trẻ trung, năng động, chúng tôi sẽ hoàn thành dự án an toàn, đúng tiến độ và với chất lượng cao nhất.”
					figure
						img(src="img/news/img2.jpg", alt="Các đại biểu thực hiện nghi thức xúc cát động thổ dự án")
						figcaption Các đại biểu thực hiện nghi thức xúc cát động thổ dự án
					p Ông Phạm Nhật Vinh, Phó Tổng Giám đốc thường trực Công ty Cổ phần Đầu tư và Phát triển Nguyễn Kim cho biết: 
						strong "Công ty Nguyễn Kim đã chuẩn bị nguồn lực tốt nhất để cùng Tổng thầu Coteccons triển khai dự án theo phương thức Thiết kế và Thi công nhằm rút ngắn thời gian thi công, tiết kiệm chi phí và hoàn thành công trình đúng chất lượng. Công trình sẽ là cơ sở để thành phố đa dạng hoá hoạt động văn hoá điện ảnh theo quy hoạch ngành đến năm 2020, tầm nhìn 2030 đã được Thủ tướng chính phủ phê duyệt".
					p Dự kiến, Trung tâm Văn hoá Điện ảnh TP.Hồ Chí Minh sẽ được Coteccons hoàn thành và bàn giao trong vòng 18 tháng thi công. 
				.share
					a.fa.fa-twitter(href="#!")
					a.fa.fa-facebook(href="#!")
					a.fa.fa-google-plus(href="#!")
					a.fa.fa-pinterest-p(href="#!")
					a.fa.fa-linkedin(href="#!")
					a.fa.fa-tumblr(href="#!")
					a.fa.fa-envelope-o(href="#!")
		.col-12.col-lg-4.col-xl-3
			section.news-other
				h3.small-title tin tức khác
				.post-list
					a.post(href="#!")
						time 19/03/2018
						.post-name Coteccons khởi công dự án OneHub Saigon
					a.post(href="#!")
						time 19/03/2018
						.post-name Coteccons đạt tiến độ thi công ấn tượng tại dự án D’.Capitale
					a.post(href="#!")
						time 19/03/2018
						.post-name Coteccons khởi công dự án DoubleTree by Hilton Ha LongBay Hotel & Condotel